:root{
    --cell-size: 4vw;
    --first-color: black;
    --second-color: white;
    --third-color: red;
}

*{
    box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
}

.main{
    width: calc(var(--cell-size) * 9);
    margin: 15% auto;
}

.main-square{
    background-color: var(--first-color);
}

.flex{
    display: flex;
    justify-content: space-between;
}

.one-height{
    height: var(--cell-size);
}

.one-width{
    width: var(--cell-size);
}

.two-width{
    width: calc(var(--cell-size) * 2);
}

.three-height{
    height: calc(var(--cell-size) * 3);
}

.three-width{
    width: calc(var(--cell-size) * 3);
}

.five-width{
    width: calc(var(--cell-size) * 5);
}

.four-width{
    width: calc(var(--cell-size) * 4)
}

.seven-width{
    width: calc(var(--cell-size) * 7);
}

.third{
    background-color: var(--third-color);
}

.second{
    background-color: var(--second-color);
}

.center{
    justify-content: center;
}

.above{
    margin-left: var(--cell-size);
}