*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background-color: black;
    color: #ffffffcc;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
}

.title{
    width: 30%;
    text-align: center;
}

.filters{
    display: flex;
    width: 70%;
}

.search{
    width: 40%;
}

.search-input{
    padding: 15px;
    margin: 5px;
    width: 75%;
    background-color: #444;
}

.filters-wrapper{
    width: 60%;
    display: flex;
    padding: 10px;
}

.nutriscore{
    width: 50%;
}

.categories{
    width: 30%;
}

fieldset{
    padding: 5px;
    margin: 5px;
}

table{
    width: 100%;
    padding: 10px;
    border-spacing: 0;
}

h1, th{
    color: yellowgreen;
}

th{
    padding: 10px;
}

td:not(.name){
    text-align: center;
}

.name{
    text-align: left;
}

#first-row{
    background-color: #444;
}

.id{
    background-color: #333;
    color: yellow;
}

tr:not(#first-row):hover > td:not(.nutri-score){
    background-color: #664;
    color: white;
}

tr:not(#first-row):hover>td>button{
    background-color: #664;
}

.red{
    background-color: #cc0000cc;
}

.orange{
    background-color: #cc6600cc;
}

.dark-yellow{
    background-color: #cccc00cc;
}

.green{
    background-color: #009900cc;
}

.dark-green{
    background-color: darkgreen;
}

.delete{
    padding: 0;
}

button{
    color: red;
    background-color: #333;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-weight: bold;
    border: none;
}

.btn-save{
    width: 25%;
    color: yellowgreen;
}