/* Généralités et reset CSS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/fondvert.gif);
}

/* Header */

header{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.images{
    display: flex;
    flex-flow: row;
}

.img-truite{
    width: 33%;
}

.banner{
    width: 67%;
}

ul{
    list-style: none;
}

.nav-elements{
    display: flex;
    flex-flow: row;
    color: white;
    background-color: green;
    padding-left: 4.75%;
}

.menu-title{
    padding: 0 5px;
    font-size: 18px;
    min-width: 175px;
    background-color: darkgreen;
    border: 1px solid green;
    padding-right: 5px;
}

.title{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.hidden-menu{
    display: none;
}

.menu-title:hover, .hidden-menu-element{
    background-color: rgb(0, 128, 0, 0.75);
}

.hidden-menu-element > a, .menu-title > a{
    color: white;
}

.menu-title:hover > .hidden-menu{
    display: flex;
    flex-flow: column;
    position: absolute;
}

.second-title{
    display: flex;
}

.second-title:hover > .second{
    position: absolute;
    left: 100%;
}

/* Main */

main{
    display: flex;
    background-color: rgb(220, 240, 145);
}

aside{
    width: 18%;
    background-color: rgb(50, 50, 50);
}

.menu-ul{
    display: flex;
    flex-flow: column;
    background-color: black;
    padding: 15px;
    font-size: 20px;
}

.menu-ul > li{
    padding: 10px;
}

.menu-a{
    color: rgb(160, 70, 0);
}

.main-section{
    width: 64%;
}

.main-title{
    font-size: 40px;
    padding: 15px 5px;
}

.section-body{
    padding: 15px;
}

figure img{
    float: left;
    margin: 5px;
    border-radius: 5px;
}

.aside-log{
    background-color: rgb(220, 240, 145);
}

.aside-div{
    background-color: black;
    padding: 20px;
}

.log{

    padding: 10px;
    border-bottom: 1px solid white;
}

.log-a{
    color: white;
}

/* Footer */

footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 15px;
    background-color: green;
}

.footer-elements{
    display: flex;
}
