:root {
  --color1: #30343F;
  --color2: #FAFAFF;
  --color3: #E4D9FF;
  --color4: #374479;
  --color5: #6E7799;
  --color6: #C490D1;
}

*{
  box-sizing: border-box;

}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  background-color: var(--color1);
  color: var(--color3);
  border: 1px solid var(--color3);
  padding: 15px;
}